*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header container */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  margin-right: 76px;
}

.logo-studio-black {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding: 24px 0;
}

.header-menu-link:focus,
.header-menu-link:hover,
.header-contact:focus,
.header-contact:hover {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: block;
  padding: 24px 0;
}

/* Hero container */

.hero {
  background-color: #2e2f42;

  max-width: 100%;
  padding: 188px 0;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features container */

.features {
  padding: 120px 0;
}

.features-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-small-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Team container */

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.team-about-worker {
  padding: 32px 0;
}

.team-small-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;
}

/* Portfolio container */

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-small-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer container */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;

  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-white {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;

  max-width: 264px;
}
